@keyframes fadeInDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rectFade {
  0%,
  to {
    transform: translate(0);
    transform-origin: 50% 50%;
  }

  50% {
    transform: translate(2px) rotate(14deg);
  }

  15% {
    transform: translate(0) rotate(-20deg);
  }
}

.animated-header {
  animation: fadeInDown 0.5s ease-out;
}

.overlay-sidebar {
  animation: fadeIn 0.2s ease-out;
}

.rectBackground {
  animation: rectFade 5s ease-in-out 2s infinite normal both;
}

.scrollbar-sidebar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.scrollbar-sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-sidebar:hover::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
